name: terraform-ci

on:
  pull_request:
    paths:
      - "infra/**"
  push:
    branches:
      - "main"
    paths:
      - "infra/**"

jobs:
  terraform_fmt_validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.6"

      - name: terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: terraform validate (dev)
        run: |
          cd envs/dev
          terraform init -backend=false
          terraform validate
